.Meaning h3 {
  text-transform: capitalize;
  font-size: 30px;
  text-align: center;
  text-decoration: underline;
  color: blueviolet;
}

.Meaning .p-headers {
  text-transform: capitalize;
  color: rgb(40, 40, 252);
  line-height: 2;
}

.Meaning p {
  line-height: 2;
  font-size: 20px;
}
